---
import { getCollection } from 'astro:content'

let pages = await getCollection('page')
pages = pages.sort((a, b) => a.data.order - b.data.order)
const current = Astro.url.pathname
---

<ul
  class='text-base text-primary px-3 rounded-2xl glass flex flex-wrap gap-2 justify-center lg:rounded-full lg:flex-nowrap'
>
  {
    pages.map((item) => (
      <li>
        <a
          class:list={[
            'relative block px-3 py-2 transition-colors duration-200 focus-ring rounded-md',
            current == `/${item.id}` ? 'text-accent' : 'hover-accent'
          ]}
          href={`/${item.id}`}
          aria-current={current == `/${item.id}` ? 'page' : undefined}
        >
          {item.data.shorttitle}
          {current == `/${item.id}` && (
            <span class='h-px inset-x-1 absolute from-accent/0 to-accent/0 via-accent/40 bg-gradient-to-r -bottom-px' />
          )}
        </a>
      </li>
    ))
  }
</ul>
