---
import { Image } from 'astro:assets'
const { frontmatter } = Astro.props
---

<header>
  {
    frontmatter.image ? (
      <div class='px-4 relative lg:px-12 sm:px-8'>
        <div class='mx-auto max-w-2xl lg:max-w-5xl'>
          <div class='gap-y-16 grid grid-cols-1 lg:gap-y-12 lg:grid-rows-[auto_1fr] lg:grid-cols-2'>
            <div class='lg:pl-20'>
              <div class='px-2.5 max-w-xs lg:max-w-none'>
                <Image
                  alt='Featured image'
                  width={800}
                  height={800}
                  fit='cover'
                  loading='eager'
                  class='rounded-2xl bg-sugarSwizzle aspect-square rotate-3 object-cover dark:bg-blackBeauty'
                  style='color:transparent'
                  src={frontmatter.image}
                />
              </div>
            </div>
            <div class='lg:row-span-2 lg:order-first'>
              <h1 class='text-4xl text-morningGlory tracking-tight font-bold font-serif sm:text-5xl'>
                {frontmatter.title}
              </h1>
              <p class='text-xl text-morningGlory mt-6 italic'>{frontmatter.description}</p>
              <article class='text-base text-graniteGray mt-6 space-y-7 prose dark:text-opalGray dark:prose-invert'>
                <slot />
              </article>
            </div>
          </div>
        </div>
      </div>
    ) : (
      <>
        <h1 class='text-4xl text-morningGlory tracking-tight font-bold font-serif sm:text-5xl'>
          {frontmatter.title}
        </h1>
        <p class='text-xl text-morningGlory mt-6 italic'>{frontmatter.description}</p>
        <div class='mt-6 max-w-none prose dark:prose-invert'>
          <slot />
        </div>
      </>
    )
  }
</header>
