---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import D3Timeline from '../components/d3timeline.astro'

let work = await getCollection('work')
work = work.sort((a, b) => {
  const endA = a.data.endyear ?? 9999
  const endB = b.data.endyear ?? 9999
  if (endB !== endA) return endB - endA
  return b.data.startyear - a.data.startyear
})
---

<div class='p-6 card rounded-2xl'>
  <h2 class='text-lg text-accent font-semibold font-serif flex'>
    <span class='i-heroicons-briefcase text-secondary h-6 w-6' aria-hidden='true'></span>
    <span class='ml-3'>Work</span>
  </h2>
  <D3Timeline />
  <ol class='mt-6 space-y-4'>
    {
      work.map((job) => (
        <li>
          <a
            href={'/work/' + job.id}
            class='group p-2 rounded-xl flex gap-4 transition -m-2 hover:bg-heavenlyPink/50 focus-ring dark:hover:bg-grapeade/30'
          >
            <div class='mt-1 rounded-full flex flex-none h-10 w-10 ring-1 ring-opalGray/20 shadow-md items-center justify-center relative dark:border dark:border-border/50 dark:bg-blackBeauty dark:ring-0'>
              <Image
                src={job.data.image}
                alt={job.data.company}
                width={64}
                height={64}
                loading='lazy'
                class='h-8 w-8 object-cover'
              />
            </div>
            <dl class='flex flex-auto flex-wrap gap-x-2'>
              <dt class='sr-only'>Company</dt>
              <dd class='text-sm text-primary font-medium flex-none w-full transition group-hover:text-accent'>
                {job.data.company}
              </dd>
              <dt class='sr-only'>Role</dt>
              <dd class='text-xs text-secondary'>
                {job.data.role}
                {job.data.type === 'consulting' && ' (Consulting)'}
              </dd>
              <dt class='sr-only'>Date</dt>
              <dd
                class='text-xs text-secondary ml-auto'
                aria-label={`${job.data.startyear} to ${job.data.endyear || 'Present'}`}
              >
                {job.data.startyear} — {job.data.endyear || 'Present'}
              </dd>
            </dl>
          </a>
        </li>
      ))
    }
  </ol>
</div>
