---
import type { CollectionEntry } from 'astro:content'
import { getCollection, render } from 'astro:content'
import Layout from '../../layouts/layout.astro'
import Container from '../../components/container.astro'

export async function getStaticPaths() {
  const workEntries = await getCollection('work')
  return workEntries.map((work) => ({
    params: { id: work.id },
    props: { work }
  }))
}

interface Props {
  work: CollectionEntry<'work'>
}
const { work } = Astro.props
const { Content } = await render(work)
---

<Layout
  title={`${work.data.role} at ${work.data.company}`}
  description={`${work.data.role} position at ${work.data.company} (${work.data.startyear} — ${work.data.endyear || 'Present'})`}
  itemPage={true}
>
  <Container class='mt-16 lg:mt-32'>
    <div class='xl:relative'>
      <div class='mx-auto max-w-2xl'>
        <button
          onclick='window.history.back()'
          type='button'
          aria-label='Go back'
          class='group mb-8 rounded-full bg-sugarSwizzle flex h-10 w-10 ring-1 ring-opalGray/20 shadow-md transition items-center justify-center lg:mb-0 xl:mt-0 dark:border dark:border-border/50 dark:bg-blackBeauty dark:ring-0 dark:ring-opalGray/20 xl:left-0 lg:absolute lg:-mt-2 dark:hover:border-border/70 dark:hover:ring-opalGray/30 lg:-left-5 xl:-top-1.5'
          ><span
            class='i-heroicons-arrow-left h-4 w-4 transition stroke-graniteGray dark:stroke-opalGray group-hover:stroke-blackBeauty dark:group-hover:stroke-sugarSwizzle'
          ></span></button
        >
        <article>
          <header class='flex flex-col'>
            <h1 class='text-4xl text-accent tracking-tight font-bold font-serif sm:text-5xl'>
              {work.data.role}
              {work.data.type === 'consulting' && ' (Consulting)'}
            </h1>
            <p class='text-2xl text-primary font-medium mt-2'>
              {work.data.company}
            </p>
            <time
              class='text-base text-graniteGray flex items-center order-first dark:text-opalGray'
            >
              <>
                <span class='rounded-full bg-barelyPink h-4 w-0.5 dark:bg-morningGlory'></span>
                <span class='ml-3'>{work.data.startyear} — {work.data.endyear || 'Present'}</span>
              </>
            </time>
          </header>
          <div class='mt-8 prose dark:prose-invert'>
            <Content />
          </div>
        </article>
      </div>
    </div>
  </Container>
</Layout>
