---
import Layout from './layout.astro'
import { getCollection } from 'astro:content'

interface Props {
  frontmatter: {
    title: string
    description: string
  }
}

const { frontmatter } = Astro.props

let articles = await getCollection('article')
articles = articles.sort((a, b) =>
  a.data.pubDate && b.data.pubDate ? +b.data.pubDate - +a.data.pubDate : 0
)
---

<Layout title={frontmatter.title} description={frontmatter.description} itemPage={true}>
  <div class='mt-16 sm:mt-32 sm:px-8'>
    <div class='mx-auto max-w-7xl lg:px-8'>
      <div class='px-4 relative lg:px-12 sm:px-8'>
        <div class='mx-auto max-w-2xl lg:max-w-5xl'>
          <header class='max-w-2xl'>
            <h1
              class='text-4xl text-blackBeauty tracking-tight font-bold sm:text-5xl dark:text-sugarSwizzle'
            >
              {frontmatter.heading || frontmatter.title}
            </h1>
            <p class='text-base text-graniteGray mt-6 dark:text-opalGray'>
              {frontmatter.description}
            </p>
            <div class='mt-6 prose dark:prose-invert'>
              <slot />
            </div>
          </header>
          <div class='mt-16 sm:mt-20'>
            <div class='md:pl-6 md:border-l md:border-barelyPink md:dark:border-grapeade/40'>
              <div class='flex flex-col max-w-3xl space-y-16'>
                {
                  articles.map((article) => (
                    <article class='md:grid md:grid-cols-4 md:items-baseline'>
                      <div class='group flex flex-col items-start relative md:col-span-3'>
                        {article.data.pubDate && (
                          <time
                            class='text-sm text-graniteGray mb-3 pl-3.5 flex items-center order-first relative z-10 dark:text-opalGray md:hidden'
                            datetime={article.data.pubDate.toISOString()}
                          >
                            <span
                              class='flex items-center inset-y-0 left-0 absolute'
                              aria-hidden='true'
                            >
                              <span class='rounded-full bg-barelyPink h-4 w-0.5 dark:bg-morningGlory' />
                            </span>
                            {article.data.pubDate.toDateString()}
                          </time>
                        )}
                        <h2 class='text-base text-blackBeauty tracking-tight font-semibold dark:text-sugarSwizzle'>
                          <div class='bg-heavenlyPink/50 opacity-0 scale-95 transition absolute z-0 sm:rounded-2xl dark:bg-grapeade/30 group-hover:opacity-100 group-hover:scale-100 -inset-x-4 -inset-y-6 sm:-inset-x-6' />
                          <a href={'/article/' + article.id}>
                            <span class='absolute z-20 sm:rounded-2xl -inset-x-4 -inset-y-6 sm:-inset-x-6' />
                            <span class='relative z-10'>{article.data.title}</span>
                          </a>
                        </h2>
                        <p class='text-sm text-graniteGray mt-2 relative z-10 dark:text-opalGray'>
                          {article.data.description}
                        </p>
                        <div
                          aria-hidden='true'
                          class='text-sm text-morningGlory font-medium mt-4 flex items-center relative z-10'
                        >
                          Read article
                          <span class='i-heroicons-chevron-right ml-1 h-4 w-4 stroke-current' />
                        </div>
                      </div>
                      {article.data.pubDate && (
                        <time
                          class='text-sm text-graniteGray mb-3 mt-1 flex hidden items-center order-first relative z-10 dark:text-opalGray md:block'
                          datetime={article.data.pubDate.toISOString()}
                        >
                          {article.data.pubDate.toDateString()}
                        </time>
                      )}
                    </article>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
