---
import HeaderHome from '../components/headerhome.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import { ClientRouter } from 'astro:transitions'

export interface Props {
  title: string
  description: string
  image?: string
  article?: boolean
  pubDate?: Date
  itemPage?: boolean
  home?: boolean
}

const {
  title,
  description,
  image = '/screenshot.png',
  article = false,
  pubDate,
  itemPage = false,
  home = false
} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(image, Astro.site)

const websiteSchema = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: 'Chris Tham',
  url: Astro.site,
  description: 'Chris Tham - Personal Web Site and Portfolio'
}

const personSchema = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: 'Chris Tham',
  url: Astro.site,
  image: socialImageURL,
  sameAs: [
    'https://www.facebook.com/chris1tham',
    'https://github.com/ChristineTham',
    'https://www.instagram.com/chris1tham',
    'https://www.linkedin.com/in/christham'
  ],
  jobTitle: 'Consultant, Artist, Photographer',
  worksFor: {
    '@type': 'Organization',
    name: 'Self-employed'
  }
}

let articleSchema = {}
if (article) {
  articleSchema = {
    '@context': 'https://schema.org',
    '@type': 'Article',
    headline: title,
    description: description,
    image: socialImageURL,
    datePublished: pubDate?.toISOString(),
    author: {
      '@type': 'Person',
      name: 'Chris Tham'
    }
  }
}

let itemPageSchema = {}
if (itemPage) {
  itemPageSchema = {
    '@context': 'https://schema.org',
    '@type': 'ItemPage',
    name: title,
    description: description,
    image: socialImageURL
  }
}

const breadcrumbList = {
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: Astro.url.pathname
    .split('/')
    .filter((path) => path !== '')
    .reduce(
      (acc, path, index, array) => {
        const url = new URL('/' + array.slice(0, index + 1).join('/') + '/', Astro.site)
        acc.push({
          '@type': 'ListItem',
          position: index + 2,
          name: path.charAt(0).toUpperCase() + path.slice(1),
          item: url.href
        })
        return acc
      },
      [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'Home',
          item: Astro.site?.href
        }
      ]
    )
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link rel='icon' href='/favicon.ico' sizes='any' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='alternate' type='application/rss+xml' title='RSS' href='/rss.xml' />
    <link rel='canonical' href={canonicalURL} />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:url' content={canonicalURL} />
    <meta property='og:image' content={socialImageURL} />
    <meta property='og:type' content={article ? 'article' : 'website'} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={socialImageURL} />
    <script is:inline type='application/ld+json' set:html={JSON.stringify(websiteSchema)} />
    <script is:inline type='application/ld+json' set:html={JSON.stringify(personSchema)} />
    {
      article && (
        <script is:inline type='application/ld+json' set:html={JSON.stringify(articleSchema)} />
      )
    }
    {
      itemPage && (
        <script is:inline type='application/ld+json' set:html={JSON.stringify(itemPageSchema)} />
      )
    }
    {
      Astro.url.pathname !== '/' && (
        <script is:inline type='application/ld+json' set:html={JSON.stringify(breadcrumbList)} />
      )
    }
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <ClientRouter />
  </head>
  <body>
    <div
      class='font-sans bg-pink-50 flex flex-col h-full dark:bg-black'
      style={`--content-offset: ${home ? '116' : '0'}px;`}
    >
      <div class='flex inset-0 justify-center fixed sm:px-8'>
        <div class='flex max-w-7xl w-full lg:px-8'>
          <div class='bg-white w-full ring-1 ring-pink-100 dark:bg-zinc-900 dark:ring-pink-300/20'>
          </div>
        </div>
      </div>
      <div class='relative'>
        {home ? <HeaderHome /> : <Header />}
        <div style='height:var(--content-offset)'></div>
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
