---
import Layout from './layout.astro'
import PageContent from '../components/pagecontent.astro'

const { frontmatter } = Astro.props
const usesList = frontmatter.list as Array<{
  section: string
  items: Array<{ item: string; description: string }>
}>
---

<Layout title={frontmatter.title} description={frontmatter.description} itemPage={true}>
  <div class='mt-16 sm:mt-32 sm:px-8'>
    <div class='mx-auto max-w-7xl lg:px-8'>
      <div class='px-4 relative lg:px-12 sm:px-8'>
        <div class='mx-auto max-w-2xl lg:max-w-5xl'>
          <PageContent {frontmatter}>
            <slot />
          </PageContent>
          <div class='mt-16 sm:mt-20'>
            <div class='mx-auto max-w-3xl'>
              <div class='space-y-20'>
                {
                  usesList.map((section) => (
                    <section
                      aria-labelledby=':R6l6:'
                      class='md:pl-6 md:border-l md:border-barelyPink md:dark:border-grapeade/40'
                    >
                      <div class='gap-y-8 grid grid-cols-1 items-baseline md:grid-cols-4'>
                        <h2 id=':R6l6:' class='text-sm text-accent font-semibold font-serif'>
                          {section.section}
                        </h2>
                        <div class='md:col-span-3'>
                          <ul class='space-y-16'>
                            {section.items.map((item: any) => (
                              <li class='group flex flex-col items-start relative'>
                                <h3 class='text-base text-accent tracking-tight font-semibold font-serif'>
                                  {item.item}
                                </h3>
                                <p class='text-sm text-graniteGray mt-2 relative z-10 dark:text-opalGray'>
                                  {item.description}
                                </p>
                              </li>
                            ))}
                          </ul>
                        </div>
                      </div>
                    </section>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
